@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

body{
    background-color: #01011e;
}

/* Custom utility for hiding scrollbars */
@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}